.App {
  text-align: center;
  background: linear-gradient(gray, black);

}


/* body {
  background: linear-gradient(gray, black);
} */
.chat-item {
  width: 50%;
}
.your-message {
  background: #eb4848;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  color: white;
  float: right;
}

.other-people {
  background: #868686;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  color: white;
  text-align: left;
  float: left;
}

.box-chat_message {
  min-height: 70vh;  
  max-height: 70vh;  
  overflow-y: auto;
  
}
.box-chat {
  width:90%;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0 0 2px 0 black;
  border-radius: 1em;
}

.send-box {
  width: 100%;
  padding: 1em;
}

.send-box textarea {
  width: 83%;
  height: 42px;
  margin: 0;
  padding: 1em;
  background: rgba(248, 248, 248, 0.699);
  border-radius: 10px; 
  display: flex;
  float: left;
}

.send-box button {
  width: 15%;
  background: #eb4848;
  color: rgb(255, 255, 255);
  margin-left: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1em;
  text-align: center;

}
.send-box button:hover {
  background: black;
}
.send-box textarea:focus {outline:0;}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 1em;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}